{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<h1>{% trans "TeamStars calendar" %}</h1>

<div class="columns">
    {% for event in events %}
        <div class="card">
            <div class="card-divider">
                <h3><a href="event/{{ event.id }}">{{ event.title }}</a></h3>
            </div>
            <div class="card-section">
                <p>{{ event.location }}</p>
            </div>
            <div class="card-section">
                <p>{{ event.starts }} - {{ event.ends }}</p>
            </div>
            <div class="card-section">
                <p>{{ event.is_private }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
