container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python teamstars/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python teamstars/manage.py createsuperuser"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python teamstars/manage.py collectstatic --noinput"
  04_compilemessages:
    command: "source /opt/python/run/venv/bin/activate && python teamstars/manage.py compilemessages"
  05_setcron:
    command: "source /opt/python/run/venv/bin/activate && python teamstars/manage.py installtasks"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "teamstars.settings"
    "PYTHONPATH": "/opt/python/current/app/teamstars:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: teamstars/teamstars/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
