{% extends 'base.html' %}
{% load i18n static %}
{% block content %}

<h1>Szavazat küldése</h1>

<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="small-12 columns">
            <input type="text" placeholder="Miért szeretnél szavazatot küldeni?">
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <textarea placeholder="Bővebben fejtsd ki, miért is szeretnél szavazatot küldeni."></textarea>
        </div>
    </div>
    <fieldset class="small-12 columns faces">
        <div class="row small-up-2 medium-up-3 large-up-4">
            {% for user in users %}
            <div class="column">
                <label class="persons--container button hollow expanded" for="selected_user_{{ user.id }}">
                    {% if user.profile.photo %}
                    <span class="persons--avatar-wrapper"><img src="{{ user.profile.photo.url }}" class="persons--avatar" /></span>
                    {% endif %}
                    <span class="persons--avatar-nick">{{ user.username }}</span>
                    <input id="selected_user_{{ user.id }}" type="checkbox" name="selected_user[{{ user.id }}" class="hide">
                </label>
            </div>
            {% endfor %}
        </div>
    </fieldset>
    <div class="row">
        <div class="columns"><input type="submit" class="button expanded large" value="Szavazok rájuk a jól!"></div>
    </div>
</form>

{% endblock %}
