{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TeamStars</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/app.css' %}" />
</head>

<body>
<div class="top-bar">
	<div class="top-bar-left">
	    <ul class="dropdown menu" data-dropdown-menu>
    	  	<li class="menu-text">{% trans 'TeamStars' %}</li>
            {% if VOTES_ENABLED %}
                <li><a href="/votes/">{% trans 'Votes' %}</a></li>
            {% endif %}
    	  	{% if CALENDAR_ENABLED %}
      		    <li><a href="/calendar/">{% trans 'Calendar' %}</a></li>
            {% endif %}
        </ul>
	</div>
	<div class="top-bar-right">
		<ul class="menu">
      		{% if request.user.is_authenticated %}
                <li>
                	<img src="{% get_media_prefix %}{{ request.user.profile.photo }}" alt="" class="menu--profile-image"/>
                </li>
                <li>
                	<span class="menu--welcome">{% blocktrans with username=request.user.username %}Welcome {{ username }}!{% endblocktrans %}</span>
                </li>
                {% if stars %}
                <li>
                	<span class="menu--stars">{% blocktrans with stars=stars %}You have {{ stars }} stars.{% endblocktrans %}</span>
                </li>
                {% endif %}
                <li><a href="{% url 'logout_redirect' %}" class="menu--logout button button-outline">Logout</a></li>
            {% else %}
                <li><a href="{% url 'social:begin' 'facebook' %}?next=/" class="menu--login button button-outline">{% trans "Login with Facebook" %}</a></li>
            {% endif %}
    	</ul>
	</div>
</div>
<div class="container row column">
{% block content %}{% endblock content %}
</div>
<script src="{% static 'dist/js/app.js' %}"></script>
</body>
</html>
